asn1crypto
astropy
autopep8
backports.shutil-get-terminal-size
bitarray
bkcharts
bokeh
boto
bottleneck
brotlipy
contextlib2
cython
cytoolz
distributed
fastcache
feature-engine
flake8
flask-restful
fsspec
gevent
glob2
gmpy2==2.0.8
grpcio-tools
gunicorn
html5lib
imblearn
importlib-metadata
jupyter
jupyterlab
kaggle
lxml
missingno
mkl-fft
mkl-random
mkl-service
mock
multipledispatch
nltk
nose
numba
olefile
opencv-python
openpyxl
partd
path
pathlib2
pep8
pip-chill
ply
pydocstyle
pyodbc
pyopenssl
pyreadline
pysocks
pytest
pywinpty==0.5.7
rope
rtree
scikit-image
simplegeneric
singledispatch
sip
sortedcollections
spacy
sphinxcontrib-websupport
spyder
sqlalchemy
streamlit
sympy
tables
tensorflow
ujson
unicodecsv
win-inet-pton
win-unicode-console
wincertstore
xgboost
xlrd
xlsxwriter
xlwt
xmltodict
yapf
yellowbrick
